<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Noob</title>

</head>
<body>
<ol>
<li>1/14/2023: Used Python atomic methods to build a new rate limiter that keeps Mr. Spam posting once per minuite. Oppressive solution for users but whatever.</li>
<li>1/15/2023: Tried out a new system that uses MNIST trained model to have the user draw a solution to the captcha. Worked but drew way too many resoureces.</li>
    <li>1/16/2023: Reconstructed a spam bot myself and found Mr. Spam was making post requests without solving the captcha. Using CSRFProtect.</li>
</ol>
</body>
</html>