<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Noob{% endblock %}</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />
    <style type="text/css">
        html { height: 100% }
        body { height: 100%; margin: 0; padding: 0; color: #00FF00; background-color: black; }
        .plane-icon { padding:0px; margin:0px; }
        #map_canvas { height: 100% }
        #info { position: absolute; width:20%; height:100%; bottom:0px; right:0px; top:0px; background-color: black; border-left:1px #666 solid; font-family:Helvetica; }
        #info div { padding:0px; padding-left:10px; margin:0px; }
        #info div h1 { margin-top:10px; font-size:16px; color: #00FF00; }
        #info div p { font-size:14px; color:#00FF00; }
        .planeTableContainer { height: 80%; overflow-y: auto; }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
    <script type="text/javascript">
        var Map = null;
        var Planes = {};
        var NumPlanes = 0;
        var Selected = null;
        var offset = 0;
        var limit = 100; // Number of data points to fetch per request

        function getIconForPlane(plane) {
            var triangleSize = 20;
            var rotation = plane.heading || 0;  // Use heading if available, default to 0 if not
            var triangleHtml = '<svg height="' + triangleSize +
                '" width="' + triangleSize +
                '" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="red" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="transform: rotate(' + rotation + 'deg);">';
            triangleHtml += '<path d="M12 2 L20 21 L12 17 L4 21 Z"></path>';
            triangleHtml += '</svg>';
            var icon = L.divIcon({
                html: triangleHtml,
                className: 'plane-icon',
                iconSize: [triangleSize, triangleSize],
                iconAnchor: [triangleSize / 2, triangleSize / 2],
            });
            return icon;
        }

        function selectPlane(planehex) {
            if (!Planes[planehex]) return;
            var old = Selected;
            Selected = planehex;
            if (Planes[old]) {
                Planes[old].marker.setIcon(getIconForPlane(Planes[old]));
            }
            Planes[Selected].marker.setIcon(getIconForPlane(Planes[Selected]));
            refreshSelectedInfo();
        }

        function selectPlaneCallback(hex) {
            return function () {
                if (Selected === hex) {
                    // Deselect the plane if it's already selected
                    Selected = null;
                } else {
                    // Select the clicked plane
                    Selected = hex;
                }

                // Update the markers to reflect the selection
                for (var planeHex in Planes) {
                    var plane = Planes[planeHex];
                    plane.marker.setIcon(getIconForPlane(plane));
                }

                // Update the selected plane info
                refreshSelectedInfo();
            };
        }

        function refreshSelectedInfo() {
            var selectedInfo = document.getElementById('selinfo');
            var table = document.getElementById('planeTable');
            var tbody = table.getElementsByTagName('tbody')[0];
            tbody.innerHTML = ''; // Clear the table body

            for (var planeId in Planes) {
                var p = Planes[planeId];
                var row = tbody.insertRow();
                row.insertCell(0).innerHTML = p.icao24;
                row.insertCell(1).innerHTML = p.callsign;
                row.insertCell(2).innerHTML = p.altitude + ' feet';
                row.insertCell(3).innerHTML = p.speed + ' knots';
                row.insertCell(4).innerHTML = p.latitude + ', ' + p.longitude;
            }

            // Update selected plane info
            if (Selected) {
                var selectedPlane = Planes[Selected];
                selectedInfo.innerHTML = 'ICAO: ' + selectedPlane.icao24 + '<br>';
                if (selectedPlane.callsign.length) {
                    selectedInfo.innerHTML += '<b>' + selectedPlane.callsign + '</b><br>';
                }
                selectedInfo.innerHTML += 'Altitude: ' + selectedPlane.altitude + ' feet<br>';
                selectedInfo.innerHTML += 'Speed: ' + selectedPlane.speed + ' knots<br>';
                selectedInfo.innerHTML += 'Coordinates: ' + selectedPlane.latitude + ', ' + selectedPlane.longitude + '<br>';
            } else {
                selectedInfo.innerHTML = 'Click on a plane for info.';
            }
        }

        function fetchData(offset, limit) {
            $.getJSON('/api2?offset=' + offset + '&limit=' + limit, function (data) {
                // Process fetched data
                processAircraftData(data);

                // Update pagination variables for the next request
                offset += limit;
            });
        }

        function fetchDataIfNeeded() {
            var bounds = Map.getBounds();
            var ne = bounds.getNorthEast();
            var sw = bounds.getSouthWest();

            // Check if fetching is needed based on current map bounds
            if (shouldFetchData(ne, sw)) {
                fetchData(offset, limit);
            }
        }

        function shouldFetchData(ne, sw) {
    // Calculate the distance between the northeast and southwest corners of the map
    var distance1 = ne.distanceTo(sw);

    // Calculate the distance between the northeast and southeast corners of the map
    var se = new L.LatLng(sw.lat, ne.lng);
    var distance2 = ne.distanceTo(se);

    // Calculate the distance between the southwest and southeast corners of the map
    var distance3 = sw.distanceTo(se);

    // Determine a threshold distance at which new data should be fetched
    // You may adjust this threshold based on your specific requirements
    var threshold = 10000; // Example threshold in meters

    // Compare each distance to the threshold
    // If any distance exceeds the threshold, return true to indicate that data should be fetched
    return distance1 > threshold || distance2 > threshold || distance3 > threshold;
}


        function processAircraftData(data) {
    var stillhere = {};

    var mapBounds = Map.getBounds();

    for (var j = 0; j < data.length; j++) {
        var plane = data[j];
        var marker = null;
        stillhere[plane.icao24] = true;

        var icao24 = plane.icao24 || "no icao24"; // Handle "no icao24"
        var callsign = plane.callsign || "no callsign"; // Handle "no callsign"
        var altitude = plane.altitude;
        var speed = plane.speed;
        var latitude = plane.latitude;
        var longitude = plane.longitude;
        var heading = plane.heading;

        // Check if the plane's coordinates are within the map bounds
        if (mapBounds.contains([latitude, longitude])) {
            // Check if plane with the same icao24 already exists
            if (Planes[icao24]) {
                // Update existing plane data
                var existingPlane = Planes[icao24];
                existingPlane.altitude = altitude;
                existingPlane.speed = speed;
                existingPlane.latitude = latitude;
                existingPlane.longitude = longitude;
                existingPlane.heading = heading;
                existingPlane.callsign = callsign;

                // Update marker position and icon
                existingPlane.marker.setLatLng([latitude, longitude]);
                existingPlane.marker.setIcon(getIconForPlane(existingPlane));
            } else {
                // Create marker for the plane
                var icon = getIconForPlane({
                    icao24: icao24,
                    altitude: altitude,
                    speed: speed,
                    latitude: latitude,
                    longitude: longitude,
                    heading: heading,
                    callsign: callsign
                });
                marker = L.marker([latitude, longitude], { icon: icon }).addTo(Map);
                marker.on('click', selectPlaneCallback(icao24));

                Planes[icao24] = {
                    icao24: icao24,
                    altitude: altitude,
                    speed: speed,
                    latitude: latitude,
                    longitude: longitude,
                    heading: heading,
                    callsign: callsign,
                    marker: marker
                };
            }
        }
    }

    NumPlanes = Object.keys(stillhere).length;
    refreshGeneralInfo();

    // Remove markers for planes not present in the latest data
    for (var p in Planes) {
        if (!stillhere[p]) {
            Map.removeLayer(Planes[p].marker);
            delete Planes[p];
        }
    }
}

        function refreshGeneralInfo() {
            var i = document.getElementById('geninfo');
            var table = document.getElementById('planeTable');
            i.innerHTML = table.rows.length - 1 + ' aircraft on screen.';
        }

        function initialize() {
            Map = L.map('map_canvas').setView([37.0, 13.0], 3);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                id: 'mapbox/streets-v11',
                accessToken: 'your.mapbox.access.token'
            }).addTo(Map);

            Map.on('moveend', function () {
                fetchDataIfNeeded();
            });

            fetchDataIfNeeded();
        }
    </script>
</head>
<body onload="initialize()">
    <div id="map_canvas" style="width:80%; height:100%; float: left;"></div>
    <div id="info" style="width: 20%; float: right;">
        <div>
            <h1>noob.lat</h1>
            <h1>Dump1090</h1>
            <p id="geninfo"></p>
            <p id="selinfo">Click on a plane for info.</p>
            <div class="planeTableContainer">
                <table id="planeTable" style="width:100%; border-collapse: collapse;">
                    <thead>
                        <tr>
                            <th>ICAO</th>
                            <th>Callsign</th>
                            <th>Altitude</th>
                            <th>Speed</th>
                            <th>Coordinates</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Data will be inserted here -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
